<!-- SIDENAV - navegação -->
<!-- <main class="main-container"> -->
  <main class="main-container">
    <div class="home-container ">
       <div class="background-image">
          <img class="img-fluid d-none d-sm-block" src="/img/ranger.png" alt="Imagem da camionete Ford Ranger">
       </div>

      <div class="overlay">
          <div class="card">
            <h3 class="card-title ">Sistemas de dados da FORD</h3>  
            <div class="card p-4 shadow-lg">
              <p class="card-text">Seja bem-vindo!</p>
            </div>
          </div>
      </div>
</div>
</main>

<!-- <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1200">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/mustang.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/img/mustang.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/img/mustang.png" class="d-block w-100" alt="...">
    </div>
  </div>
</div> -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>

  <app-sidenav></app-sidenav>
  <router-outlet></router-outlet>
