.btn-mustang{
  background-color: #00095B;
}

.txt-subtitle{
  color: #00095B;
}

.botao-veiculos{
  border-radius: 32px;
  background-color: #00095B;
  color: #fff;
}

.botao-veiculos:hover{
  scale: 1.1;
  transition: 0.3s;
}

.botao-oferta{
  border-radius: 32px;
  background-color: #00095B;
  border: #00095B;
}

.container-video{
  background-color: #00095B;
  width: 98vw;
}



.botao-oferta:hover{
  scale: 1.1;
  transition: 0.3s;
}

@media (max-width: 851px) {
  
    .container-card{
      margin-top: 64px;
    }
}