
<footer class="footer-above text-white pt-3">
  <!-- Redes Sociais -->
  <div class="container d-flex justify-content-between align-items-center py-2 text-white">
    <div>
      <strong>Redes Sociais</strong>
      <span class="ms-3">
        <a href="https://www.instagram.com/fordbrasil/"><img src="/img/instagram-logo-50.png" alt="Logo instagram"></a>
        <a href="https://www.youtube.com/fordbrasil"><img src="/img/youtube-squared-50.png" alt="Logo youtube"></a>
      </span>
    </div>
    <div>
      <i class="bi bi-chat-left-text"></i> Sugestões
    </div>
  </div>

  <!-- Rodapé inferior -->
  <div class="footer-below text-white py-3">
    <div class="container d-flex justify-content-between align-items-center flex-wrap">
      <div>
        <small>
          Copyright © 2025 Ford Motor Company – Todos os direitos reservados<br />
          <a class="link-privacidade-footer" href="https://www.ford.com.br/politica-de-privacidade/">Política de Privacidade</a> | Direitos do Titular
        </small>
      </div>
      <div>
        <img src="/img/ford.png" alt="Ford logo" height="30" />
      </div>
    </div>
  </div>
</footer>
