<div class="login-container">
  <div class="overlay"></div>

  <div class="form-box">
    <div class="text-center mb-4">
      <img src="/img/ford.png" alt="Ford Logo" style="height: 60px;" />
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="d-grid gap-3">

      <div class="form-floating">
        <input type="email" formControlName="usuario" class="form-control" id="email" formControlName="usuario" placeholder="Email" />
        <label for="email">Digite seu usuário</label>
      </div>

      <div class="form-floating">
        <input type="password" formControlName="senha" class="form-control" id="senha" formControlName="senha" placeholder="Senha" />
        <label for="senha">Digite sua senha</label>
      </div>

      <div class="form-floating">
        <input type="password" formControlName="confirmarSenha" class="form-control" id="confirmarSenha" formControlName="confirmarSenha" placeholder="Confirme sua senha" />
        <label for="confirmarSenha">Confirme sua Senha</label>
      </div>

      <div *ngIf="loginForm.errors?.['senhasDiferentes']" class="text-danger text-center">
  As senhas não coincidem.
</div>


      <div class="social-icons d-flex justify-content-center gap-3 mt-3">
        <a href="www.linkedin.com/company/ford-brasil/"><button type="button" class="btn btn-outline-dark rounded-circle"><i class="bi bi-linkedin"> </i></button></a>
        <a href="https://www.ford.com.br"><button type="button" class="btn btn-outline-dark rounded-circle"><i class="bi bi-google"></i></button></a> 
        <a href="https://web.facebook.com/FordBrasil"> <button type="button" class="btn btn-outline-dark rounded-circle"><i class="bi bi-facebook"></i></button></a>
      </div>

      <button type="submit" class="btn btn-primary w-100 mt-3 fw-bold">Continuar</button>

      <div class="text-center mt-3 links">
        Não tem uma conta?<a href="/cadastro"> Criar uma conta</a><br />
      </div>
    </form>
  </div>
</div>
